.about {
   display: flex;
   gap: 100px;
   align-items: center;
   justify-content: space-between;
   max-height: 550px;

   &__img {
      flex: 1 2 610px;
   }

   &__content {
      flex: 1 1 450px;
   }

   &__text {
      margin: 20px 0px;
   }

   &__button {
      padding: 20px 0px 0px 0px;
   }

   @media (max-width: $lg) {
      &__img {
         margin: 0px 15px;
      }

      &__content {
         margin: 0px 25px;
      }
   }

   @media (max-width: $md) {
      text-align: center;
      &__img {
         display: none;
      }

      &__content {
         margin: 0px auto;
      }
   }
}
