.block {
   &__img {
      display: block;
      flex: 0 1 610px;
      max-width: 45%;
      &_about {
         @media (min-width: $xl) {
            position: relative;
            top: 0;
            left: -7%;
         }
      }
   }

   &__content {
      flex: 0 1 450px;
      display: flex;
      flex-direction: column;
   }

   &__text {
      margin: 20px 0px;
   }

   @media (max-width: $md) {
      text-align: center;
      &__img {
         display: none;
      }

      &__content {
         margin: 0px auto;
      }
   }
}
