.destin {
   padding: 0px 0px 40px 0px;
   &__item {
      .item {
         &__text {
            padding: 11px 0px 5px 0px;
            @media (min-width: $md) {
               z-index: 1;
               position: absolute;
               border-radius: 0px 6px 0px 0px;
               bottom: 0px;
               background-color: #ffffff;
               width: 120px;
            }
         }

         &__title {
            font-size: 18px;
            font-weight: 600;
            color: #042521;
         }

         &__subtitle {
            font-size: 17px;
            font-weight: 500;
            color: #80908e;
         }

         &__image {
            img {
               object-position: 50% 60%;
            }
            @media (max-width: $md) {
               height: 230px;
            }
         }
      }
   }
}
