.explore {
   &__content {
      flex: 0 0 410px;
      color: #202336;
   }

   &__title {
      max-width: 356px;
      font-size: 64px;
      line-height: 60/48 * 100%;
   }

   &__subtitle {
      font-weight: 600px;
      font-size: 22px;
      line-height: 24/18 * 100%;
      margin: 70px 0px;
   }

   &__btn {
      height: 52px;
      width: 180px;
      margin: 51px 0px 0px 0px;
   }

   &__img {
      display: block;
      flex: 0 1 687px;
      max-width: 45%;
   }

   @media (min-width: $xl) {
      margin: 0px 0px 286px 0px;
      &__content {
         flex: 0 0 470px;
      }
      &__img {
         position: absolute;
         top: 0;
         right: -7%;
      }
   }

   @media (max-width: $lg) {
      &__content {
         flex: 0 0 370px;
      }
      &__title {
         font-size: 52px;
      }
      &__subtitle {
         font-size: 18px;
         margin: 35px 0px;
      }
   }

   @media (max-width: $md) {
      &__content {
         flex: 0 1 470px;
         margin: 0px auto;
         text-align: center;
      }

      &__title {
         max-width: 500px;
         font-size: 42px;
      }

      &__img {
         display: none;
      }

      &__btn {
         height: 48px;
         width: 160px;
         margin: 35px auto 0px auto;
      }
   }

   @media (max-width: $sm) {
      &__title {
         font-size: 36px;
      }
   }
}

.sliders {
   display: flex;
   flex-wrap: wrap;
   margin: -15px;

   &__item {
      border-radius: 6px;
      margin: 15px;
   }

   &__btn {
      height: 50px;
      width: 190px;
      background-color: white;
      color: #4a4c53;
      border: 0.8px solid #afb0b9;

      option {
         padding: 20px 21px 20px 0px;
      }
   }

   @media (min-width: $xl) {
      &__btn {
         height: 52px;
         width: 220px;

         option {
            padding: 21px 31px 21px 0px;
         }
      }
   }

   @media (max-width: $lg) {
      margin: -10px;

      &__item {
         margin: 10px;
      }
      &__btn {
         height: 48px;
         width: 175px;
      }
   }

   @media (max-width: $md) {
      margin: -15px;

      &__item {
         margin: 15px ;
      }
      &__btn {
         width: 220px;
         height: 52px;
      }
   }

   @media (max-width: $sm) {
      margin: -15px auto;

      &__item {
         margin: 15px auto;
      }
   }
}
