.header {
  margin: 0px 0px 40px 0px;

  .wrapper {
    margin: 0px auto;
  }

  &__container {
    padding: 40px 0px;
    @media (max-width: $md) {
      padding: 20px 0px;
    }
  }

  &__logo {
    width: 41px;
    height: 41px;
  }

  &__icon {
    display: none;

    @media (max-width: $md) {
      display: flex;
      position: relative;
      height: 20px;
      width: 30px;
      justify-content: space-between;
      flex-direction: column;
      cursor: pointer;

      span {
        background-color: #202336;
        width: 100%;
        height: 2px;
        left: 0;
      }

      &.active {
        display: block;
        span {
          position: absolute;
          transform: scale(0);
          top: 50%;
          &:first-child {
            transform: rotate(-45deg);
          }

          &:last-child {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  @media (max-width: $lg) {
    margin: 0px 0px 10px 0px
  }
}

.menu {
  @media (max-width: $md) {
    display: none;

    &.active {
      display: flex;
      position: fixed;
      top: 80px;
      z-index: 1;
      height: 100%;
      width: 100%;
      background-color: white;
      overflow: auto;
    }
  }

  &__list {
    height: 50px;
    display: flex;
    justify-content: flex-end;
    gap: 34px;
    align-items: center;
    list-style-type: none;

    @media (max-width: $md) {
      height: 600px;
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 30px;
      padding: 0px 0px 0px 0px;
      margin: 0px 0px 0px 0px;
    }
  }

  &__link {
    cursor: pointer;
    color: #b8becd;
    transition: color 0.3s;

    &_active,
    &:hover {
      color: #202336;
      font-weight: 500;
    }

    @media (max-width: $lg) {
      gap: 28px;
    }
  }
}

.btn-reg {
  height: 44px;
  width: 132px;
  font-weight: 500;

  &_login {
    background-color: white;
    color: $orange;
    border: 1px solid $orange;

    &:hover {
      background-color: $orange;
      color: white;
      border: none;
    }
  }

  @media (max-width: $lg) {
    width: 120px;
  }

  @media (max-width: $md) {
    height: 60px;
    width: 220px;
    font-size: 22px;
  }
}
