.header {
  height: 130px;
  padding: 0px 0px 40px 0px;

  &__logo {
    width: 41px;
    height: 41px;
  }

  &__icon {
    display: none;
    @media (max-width: $md) {
      display: block;
    }
  }

  &__body {
    @media (max-width: $md) {
      display: none;
    }
  }

  @media (max-width: $lg) {
    padding: 0px auto 30px auto;
  }

  @media (max-width: $md) {
    height: 90px;
  }

  @media (max-width: $sm) {
    padding: 0px auto 20px auto;
  }
}

.menu {
  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 34px;
    align-items: center;
    list-style-type: none;
  }

  &__link {
    cursor: pointer;
    color: #b8becd;
    transition: color 0.3s;

    &_active,
    &:hover {
      color: #202336;
      font-weight: 500;
    }

    @media (max-width: $lg) {
      gap: 28px;
    }
  }
}

.btn-reg {
  height: 44px;
  width: 132px;
  font-weight: 500;

  &_login {
    background-color: white;
    color: $orange;
    border: 1px solid $orange;

    &:hover {
      background-color: $orange;
      color: white;
      border: none;
    }
  }

  @media (max-width: $lg) {
    width: 120px;
  }
}
