.items-box {
   display: flex;
   justify-content: space-between;
   margin: -17px;

   @media (max-width: $md) {
      margin: -9px;
   }

   @media (max-width: $sm) {
      flex-wrap: wrap;
      margin: 0px auto;
   }
}
.item {
   position: relative;
   margin: 17px;

   &__image {
      img {
         border-radius: 8px;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   @media (max-width: $md) {
      margin: 9px;
      &:last-child {
         display: none;
      }
   }

   @media (max-width: $sm) {
      width: 100%;
   }
}

