.testim {
  &__body {
    @media (max-width: $sm) {
      flex-direction: column;
      text-align: center;
    }
  }

  &__content {
    flex: 0 1 450px;

    @media (max-width: $sm) {
      flex: 1 1 250px;
      margin: 10px 0px 0px 0px;
      order: 2;
    }
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    max-width: 190px;
    gap: 10px;
    margin: 0px auto;

    .star {
      width: 25px;
      height: 25px;
    }
  }

  &__text {
    max-width: 450px;
    margin: 40px 0px 30px 0px;
  }

  &__name {
    font-weight: 700;
    font-size: 22px;
  }

  &__info {
    font-size: 18px;
    padding: 15px 0px;
  }

  &__photo {
    flex: 0 1 450px;
    order: 1;

    @media (min-width: $xl) {
      flex: 0 1 584px;
    }

    @media (max-width: $md) {
      flex: 0 1 384px;
    }
  }

  &__img {
    position: relative;
    max-width: 384px;
    margin: 0px auto;

    img {
      border-radius: 12px;
    }
  }
}
.slider {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  height: 60px;
  width: 130px;
  background: #ffffff;
  border-radius: 16px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

  &__btn {
    padding: 20px 0px 0px 22px;

    svg {
      height: 40px;
      width: 40px;

      opacity: 0.6;

      &:hover {
        circle {
          stroke: #d7d7d7;
        }
        path {
          stroke: #d7d7d7;
        }
      }

      @media (max-width: $sm) {
        transform: scale(3);
        &:hover {
          path {
            stroke: #80908e;
          }
        }
        circle {
          display: none;
        }
        path {
          stroke: white;
        }
      }
    }
  }

  @media (max-width: $sm) {
    width: 100%;
    bottom: 50%;
    background: none;
    justify-content: space-between;

    &__btn {
      padding: 0px;
    }
  }
}
