@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Mulish:300,regular,700);
body {
  max-width: 1410px;
  margin: 0px auto;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #000000; }

.page {
  display: flex;
  flex-direction: column;
  gap: 200px; }
  @media (max-width: 1200px) {
    .page {
      gap: 120px; } }

.wrapper {
  margin: 0px auto;
  width: 95%; }
  .wrapper__1 {
    max-width: 1220px; }
  .wrapper__2 {
    max-width: 1120px;
    position: relative; }

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  gap: 50px; }
  @media (min-width: 1400px) {
    .inner {
      gap: 80px; } }
  @media (max-width: 1200px) {
    .inner {
      gap: 60px; } }

.title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  line-height: 50px; }
  @media (max-width: 900px) {
    .title {
      font-size: 32px;
      margin: 0px auto; } }

.text {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 17px;
  color: #7d7987;
  line-height: 30px; }

.btn {
  height: 48px;
  width: 164px;
  background-color: #fb8f1d;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  transition: color, border, background-color 0.3s; }
  .btn:hover {
    background-color: white;
    color: #fb8f1d;
    border: 1px solid #fb8f1d; }

.img {
  width: 100%; }

.block__img {
  display: block;
  flex: 0 1 610px;
  max-width: 45%; }
  @media (min-width: 1400px) {
    .block__img_about {
      position: relative;
      top: 0;
      left: -7%; } }

.block__content {
  flex: 0 1 450px;
  display: flex;
  flex-direction: column;
  gap: 20px; }

@media (max-width: 900px) {
  .block {
    text-align: center; }
    .block__img {
      display: none; }
    .block__content {
      margin: 0px auto; } }

.destin {
  padding: 0px 0px 40px 0px; }
  .destin__item .item__text {
    padding: 11px 0px 5px 0px; }
    @media (min-width: 900px) {
      .destin__item .item__text {
        z-index: 1;
        position: absolute;
        border-radius: 0px 6px 0px 0px;
        bottom: 0px;
        background-color: #ffffff;
        width: 120px; } }
  .destin__item .item__title {
    font-size: 18px;
    font-weight: 600;
    color: #042521; }
  .destin__item .item__subtitle {
    font-size: 17px;
    font-weight: 500;
    color: #80908e; }
  .destin__item .item__image img {
    object-position: 50% 60%; }
  @media (max-width: 900px) {
    .destin__item .item__image {
      height: 230px; } }

.explore__content {
  flex: 0 0 410px;
  color: #202336; }

.explore__title {
  max-width: 356px;
  font-size: 64px;
  line-height: 125%; }

.explore__subtitle {
  font-weight: 600px;
  font-size: 22px;
  line-height: 133.33333%;
  margin: 70px 0px; }

.explore__btn {
  height: 52px;
  width: 180px;
  margin: 51px 0px 0px 0px; }

.explore__img {
  display: block;
  flex: 0 1 687px;
  max-width: 45%; }

@media (min-width: 1400px) {
  .explore__content {
    flex: 0 0 470px; }
  .explore__img {
    position: absolute;
    top: 0;
    right: -7%; } }

@media (max-width: 1200px) {
  .explore__content {
    flex: 0 0 370px; }
  .explore__title {
    font-size: 52px; }
  .explore__subtitle {
    font-size: 18px;
    margin: 35px 0px; } }

@media (max-width: 900px) {
  .explore__content {
    flex: 0 1 470px;
    margin: 0px auto;
    text-align: center; }
  .explore__title {
    max-width: 500px;
    font-size: 42px; }
  .explore__img {
    display: none; }
  .explore__btn {
    height: 48px;
    width: 160px;
    margin: 35px auto 0px auto; } }

@media (max-width: 600px) {
  .explore__title {
    font-size: 36px; } }

.sliders {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; }
  .sliders__item {
    border-radius: 6px; }
  .sliders__btn {
    height: 50px;
    width: 190px;
    background-color: white;
    color: #4a4c53;
    border: 0.8px solid #afb0b9; }
    .sliders__btn option {
      padding: 20px 21px 20px 0px; }
  @media (min-width: 1400px) {
    .sliders__btn {
      height: 52px;
      width: 220px; }
      .sliders__btn option {
        padding: 21px 31px 21px 0px; } }
  @media (max-width: 1200px) {
    .sliders {
      gap: 20px; }
      .sliders__btn {
        height: 48px;
        width: 175px; } }
  @media (max-width: 900px) {
    .sliders {
      gap: 30px; }
      .sliders__btn {
        width: 220px;
        height: 52px; } }
  @media (max-width: 600px) {
    .sliders__item {
      margin: 0px auto; } }

.footer {
  font-size: 18px;
  line-height: 155.55556%;
  font-weight: 300;
  font-family: "Mulish";
  color: #848484;
  margin: 200px 0px 0px 0px;
  background: #f9f9fb;
  width: 100%; }
  .footer__row {
    height: 240px;
    padding: 80px 0px; }
  .footer__logo {
    height: 44px;
    width: 44px; }
  .footer__title {
    color: #000000;
    font-weight: 700;
    font-size: 19px; }

.col-1 {
  flex: 1 2 340px; }
  .col-1__text {
    max-width: 340px;
    margin: 26px 0px 55px 0px; }

.col-2 {
  flex: 1 2 720px;
  display: flex;
  justify-content: space-between;
  gap: 20px; }
  @media (max-width: 900px) {
    .col-2 {
      flex-direction: column;
      max-width: 300px; } }

.col {
  flex: 1 1 150px;
  height: 100%;
  display: block; }
  @media (max-width: 900px) {
    .col {
      display: none; } }
  .col__list ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px; }
    .col__list ul li {
      font-size: 18px;
      line-height: 211.11111%; }

.select {
  display: block; }
  @media (min-width: 900px) {
    .select {
      display: none; } }

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 56px 0px; }
  .head__view {
    color: #fb8f1d; }
    @media (max-width: 900px) {
      .head__view {
        position: absolute;
        bottom: 0px;
        right: 0px; } }
  @media (max-width: 600px) {
    .head {
      margin: 0px 0px 25px 0px; } }

.header {
  height: 130px;
  padding: 0px 0px 40px 0px; }
  .header__logo {
    width: 41px;
    height: 41px; }
  .header__icon {
    display: none; }
    @media (max-width: 900px) {
      .header__icon {
        display: block; } }
  @media (max-width: 900px) {
    .header__body {
      display: none; } }
  @media (max-width: 1200px) {
    .header {
      padding: 0px auto 30px auto; } }
  @media (max-width: 900px) {
    .header {
      height: 90px; } }
  @media (max-width: 600px) {
    .header {
      padding: 0px auto 20px auto; } }

.menu__list {
  display: flex;
  justify-content: flex-end;
  gap: 34px;
  align-items: center;
  list-style-type: none; }

.menu__link {
  cursor: pointer;
  color: #b8becd;
  transition: color 0.3s; }
  .menu__link_active, .menu__link:hover {
    color: #202336;
    font-weight: 500; }
  @media (max-width: 1200px) {
    .menu__link {
      gap: 28px; } }

.btn-reg {
  height: 44px;
  width: 132px;
  font-weight: 500; }
  .btn-reg_login {
    background-color: white;
    color: #fb8f1d;
    border: 1px solid #fb8f1d; }
    .btn-reg_login:hover {
      background-color: #fb8f1d;
      color: white;
      border: none; }
  @media (max-width: 1200px) {
    .btn-reg {
      width: 120px; } }

.items-box {
  display: flex;
  justify-content: space-between;
  gap: 25px; }
  @media (max-width: 900px) {
    .items-box {
      gap: 18px; } }
  @media (max-width: 600px) {
    .items-box {
      flex-wrap: wrap;
      margin: 0px auto; } }

.item {
  position: relative; }
  .item__image img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover; }
  @media (max-width: 900px) {
    .item:last-child {
      display: none; } }
  @media (max-width: 600px) {
    .item {
      width: 100%; } }

.stories {
  padding: 0px 0px 40px 0px; }
  .stories__item .item__image {
    height: 230px; }
    .stories__item .item__image img {
      object-position: 50% 0%; }
  .stories__item .item__title {
    font-weight: 700;
    font-size: 19px;
    line-height: 157.89474%;
    padding: 13px 0px; }
  .stories__item .item__subtitle {
    font-size: 15px;
    line-height: 173.33333%;
    color: #7d7987; }
  .stories__item .item__more {
    margin: 23px 0px 0px 0px;
    color: #fb8f1d; }

@media (max-width: 600px) {
  .testim__body {
    flex-direction: column;
    text-align: center; } }

.testim__content {
  flex: 0 1 450px; }
  @media (max-width: 600px) {
    .testim__content {
      flex: 1 1 250px;
      margin: 10px 0px 0px 0px;
      order: 2; } }

.testim__stars {
  display: flex;
  justify-content: space-between;
  max-width: 190px;
  gap: 10px;
  margin: 0px auto; }
  .testim__stars .star {
    width: 25px;
    height: 25px; }

.testim__text {
  max-width: 450px;
  margin: 40px 0px 30px 0px; }

.testim__name {
  font-weight: 700;
  font-size: 22px; }

.testim__info {
  font-size: 18px;
  padding: 15px 0px; }

.testim__photo {
  flex: 0 1 450px;
  order: 1; }
  @media (min-width: 1400px) {
    .testim__photo {
      flex: 0 1 584px; } }
  @media (max-width: 900px) {
    .testim__photo {
      flex: 0 1 384px; } }

.testim__img {
  position: relative;
  max-width: 384px;
  margin: 0px auto; }
  .testim__img img {
    border-radius: 12px; }

.slider {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  height: 60px;
  width: 130px;
  background: #ffffff;
  border-radius: 16px 0px 0px 0px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }
  .slider__btn {
    padding: 20px 0px 0px 22px; }
    .slider__btn svg {
      height: 40px;
      width: 40px;
      opacity: 0.6; }
      .slider__btn svg:hover circle {
        stroke: #d7d7d7; }
      .slider__btn svg:hover path {
        stroke: #d7d7d7; }
      @media (max-width: 600px) {
        .slider__btn svg {
          transform: scale(3); }
          .slider__btn svg:hover path {
            stroke: #80908e; }
          .slider__btn svg circle {
            display: none; }
          .slider__btn svg path {
            stroke: white; } }
  @media (max-width: 600px) {
    .slider {
      width: 100%;
      bottom: 50%;
      background: none;
      justify-content: space-between; }
      .slider__btn {
        padding: 0px; } }
