@import url(https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Mulish:300,regular,700);

//Переменные
$minWidth: 320px;
$maxWidth: 1400px;
$xl: 1400px;
$lg: 1200px;
$md: 900px;
$sm: 600px;

//Цвета
$orange: #fb8f1d;
$yellow: #ffbb0c;

body {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  color: #000000;

  @media (max-width: $md) {
    &.lock {
      overflow: hidden;
    }
  }
}

//1390px
//1220px
//1130px
//1120px

.wrapper {
  margin: 0px auto 170px auto;

  &__1 {
    max-width: 1220px;
  }
  &__2 {
    max-width: 1120px;
    position: relative;
  }

  @media (min-width: $xl) {
    margin: 0px auto 0px auto;
  }

  @media (max-width: $xl) {
    width: 95%;
  }

  @media (max-width: $lg) {
    margin: 0px auto 120px auto;
  }

  @media (max-width: $md) {
    margin: 0px auto 90px auto;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  gap: 50px;

  @media (min-width: $xl) {
    gap: 80px;
  }
  @media (max-width: $lg) {
    gap: 60px;
  }
}

.title {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 36px;
  color: #000000;
  line-height: 50px;

  @media (max-width: $md) {
    font-size: 32px;
    margin: 0px auto;
  }
}

.text {
  font-family: "Mulish";
  font-weight: 300;
  font-size: 17px;
  color: #7d7987;
  line-height: 30px;
}

.btn {
  height: 48px;
  width: 164px;
  background-color: $orange;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  transition: color, border, background-color 0.3s;

  &:hover {
    background-color: white;
    color: $orange;
    border: 1px solid $orange;
  }
}

.img {
  width: 100%;
}
